/*gambar*/
.woocommerce div.product div.images img {
  
    width: 100%;
    height: auto;
    box-shadow: none;
}
.woocommerce img, .woocommerce-page img {
  
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a:hover {
    color: #033;
 
}

.smoke__bg {
    background-image: url(/css/api.gif);
}

.smoke__bg, .vic__bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    font-family: 'Akura Popo';
    font-size: xx-large;
}

p {
    font-family: 'Akura Popo';
    font-size: xx-large;
}

div {
    font-family: 'Akura Popo';
    font-size: xx-large;
}

class {
    font-family: 'Akura Popo';
    font-size: xx-large;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, 
.col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, 
.col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, 
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, 
.col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, 
.col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-auto, .woocommerce ul.products li.product, .woocommerce ul.products.columns-1 li.product, 
.woocommerce ul.products.columns-2 li.product, .woocommerce ul.products.columns-3 li.product, 
.woocommerce ul.products.columns-6 li.product, .woocommerce-page ul.products li.product, 
.woocommerce-page ul.products.columns-1 li.product, .woocommerce-page ul.products.columns-2 li.product, 
.woocommerce-page ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-6 li.product, 
.woocommerce-page.columns-1 ul.products li.product, .woocommerce-page.columns-2 ul.products li.product, 
.woocommerce-page.columns-3 ul.products li.product, .woocommerce-page.columns-6 ul.products li.product, 
.woocommerce.columns-1 ul.products li.product, .woocommerce.columns-2 ul.products li.product, 
.woocommerce.columns-3 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

{
    "editor.fontFamily": "Fira Code", "editor.fontLigatures": true
}
/*tulisan*/
.woocommerce div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
}
.single-product-content .product_title.entry-title {
    
    font-family:Leelawadee UI,Courier New, Courier, monospace;
    font-size: 2.6rem;
    letter-spacing: 5px;
}
.woocommerce div.product .single-product-content .composite_component .composited_product_title_wrapper 
.composited_product_title, h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.h1, .h2, .h3, .h4, .h5, .h6, .woocommerce div.product .single-product-content .composite_component 
.composited_product_title_wrapper .composited_product_title, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
   
    line-height: 1.2;
}
h1 {
    display: block;
  
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}



